.text {
    color: white
}

.some-button {
    background-color: greenyellow;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

.handle-text {
    margin-right: 170px;
    color: whitesmoke;
}
